@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}
.container {
    text-align: center;
}
.tree {
    display: inline-block;
    text-align: center;
    overflow: visible;
}
.tree ul {
    padding-top: 2vw;
    position: relative;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}
.tree ul ul {
    display: flex;
    justify-content: center;
}
.tree li {
    display: table;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 2vw 1vw 0 1vw;
    transition: all 0.5s;
}
.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 2vw;
}
.tree li::after {
    left: 50%;
    right: auto;
    border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}
.tree li:only-child {
    padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 2vw;
}
.tree li a {
    border: 1px solid #ccc;
    padding: 1vw;
    display: inline-block;
    border-radius: 0.5vw;
    text-decoration: none;
    color: #333;
    font-size: 1.2vw;
    font-weight: 500;
    transition: all 0.5s;
    background-color: #fff;
}
.tree li a img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 7px;
    background-image: url('account.svg');
    background-size: cover;
}
.tree li a span {
    display: block;
    padding: 3px 6px;
    color: #333;
    text-transform: lowercase;
    font-size: 12px;
}
/*Hover-Section*/
.tree li a:hover, .tree li a:hover i, .tree li a:hover span, .tree li a:hover+ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}
.tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
	border-color: #94a0b4;
}
/* Show when disable */
.tree ul ul.disable {
    display: none;
}